@font-face {
    font-family: Gothic №60;
    src: url("../../Web-Portfolio/Gothic60-Regular.otf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: ITC Avant Garde Std Md;
    src: url("../../Web-Portfolio/itc-avant-garde-std-md.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
